.App
  display flex
  flex-direction column

.App-header
  display flex
  flex-direction row
  justify-content center
  background-color black
  color white

.App-body
  display flex
  flex-direction column
  align-items stretch
  background-color yellow

  .user-name-area
    align-self center
    padding-top 50px
    padding-bottom 20px
    display flex

    .user-name-input
      padding-left 30px
      font-family Arial, FontAwesome
      font-size 25px
      border 0
      height 50px
      width 600px
      border-top-left-radius 35px
      border-bottom-left-radius 35px

    .user-name-submit
      height 52px
      width 50px
      font-family Arial, FontAwesome
      font-size 25px
      color white
      border-top-right-radius 35px
      border-bottom-right-radius 35px
      border 0

  .tasks-area
    display flex
    flex-direction column
    justify-content space-around
    align-items stretch
    padding 50px 0px 50px
    background-color blue

    .tasks-header
      padding 15px 30px
      align-self center
      margin-bottom 30px

    .tasks
      align-self center
      border 1px solid black
      width 800px
      margin-bottom 15px
      display flex
      flex-direction row
      justify-content space-between
      align-items center

      .tasks-checkbox-div:before
        content ''
        position absolute
        top 10px
        left 10px
        height 2px
        width 30px
        background #111

      .tasks-checkbox-div
        align-self center
        width 50px
        height 20px
        background #333
        border-radius 40px
        position relative

        label
          display block
          background #ddd
          width 12px
          height 12px
          border-radius 50%
          cursor pointer
          position absolute
          top 4px
          left 4px
          z-index 1
          transition all .5s ease

        input
          display none

        input[type=checkbox]:checked + label
          left: 32px;
          background: #26ca28;

      .task-text
        align-self flex-start
        max-width 600px
        min-width 600px
        background-color green

      .tasks-priority
        max-width 200px

*:focus
  outline none