html
  background-color #DCEDC8

body
  margin 0
  padding 0
  font-family sans-serif

.App
  display flex
  flex-direction column

.App-header
  display flex
  flex-direction row
  justify-content center
  background-color #333
  color white

.App-body
  display flex
  flex-direction column
  align-items stretch
  // background-color yellow

  .user-name-area
    align-self center
    padding-top 50px
    padding-bottom 20px
    display flex

    .user-name-input
      padding-left 30px
      font-family Arial, FontAwesome
      font-size 25px
      background-color #333
      color white
      border 0
      height 50px
      width 600px
      border-top-left-radius 35px
      border-bottom-left-radius 35px

    .user-name-input::-webkit-input-placeholder
      color white

    .user-name-input::-moz-placeholder
      color white

    .user-name-input:-ms-input-placeholder
      color white

    .user-name-submit
      height 52px
      width 50px
      font-family Arial, FontAwesome
      font-size 25px
      cursor pointer
      color white
      background-color #333
      border-top-right-radius 35px
      border-bottom-right-radius 35px
      border 0

    .user-name-submit:hover
      color #26ca28

    .user-name-submit:active
      color #9CCC65

  .tasks-area
    display flex
    flex-direction column
    justify-content space-around
    align-items stretch
    padding 50px 0px 50px
    // background-color blue

    .tasks-header
      padding 15px 30px
      align-self center
      margin-bottom 30px

    .add-new-task-div
      align-self center
      margin-bottom 20px

      .add-new-task-input
        border 0px
        background transparent
        border-bottom 2px solid #333
        height 40px
        font-size 25px

      .add-new-task-submit
        height 40px
        font-family Arial, FontAwesome
        font-size 25px
        background transparent
        border 0px
        cursor pointer

      .add-new-task-submit:hover
        color #26ca28

      .add-new-task-submit:active
        color #9CCC65

    .tasks.complete
      background-color #C0CA33 !important

    .tasks
      align-self center
      // border 1px solid black
      background-color #A5D6A7
      border-radius 35px
      width 800px
      margin-bottom 15px
      display flex
      flex-direction row
      justify-content space-between
      align-items center

      textarea.task-text
        background-color transparent
        padding-top 2.5px
        padding-bottom 2.5px
        margin-top 10px
        margin-bottom 10px
        border 0px
        resize none

      .tasks-checkbox-div:before
        content ''
        position absolute
        top 10px
        left 10px
        height 2px
        width 30px
        background #111

      .tasks-checkbox-div
        align-self center
        width 50px
        height 20px
        background #333
        border-radius 40px
        position relative
        margin-left 15px

        label
          display block
          background #ddd
          width 12px
          height 12px
          border-radius 50%
          cursor pointer
          position absolute
          top 4px
          left 4px
          z-index 1
          transition all .5s ease

        input
          display none

        input[type=checkbox]:checked + label
          left 32px
          background #26ca28

      .task-text
        align-self flex-start
        max-width 600px
        min-width 600px
        background-color transparent

      .tasks-delete
        width 30px
        height 30px
        background-color #333
        border-radius 50%
        margin-right 15px
        font-family Arial, FontAwesome
        display flex
        align-items center
        justify-content space-around
        color white
        cursor pointer

      .tasks-delete:hover
        color red

      .tasks-delete:active
        color green

*:focus
  outline none